<div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
            <h3 class="text-primary mb-4">You have an idea?<br>Add it to your dashboard</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam magni quod quasi. Maiores mollitia at
                saepe vitae, laboriosam fuga sunt id quae quos inventore? Doloremque consequuntur blanditiis nulla
                rerum asperiores, tempora fuga recusandae natus atque? Deserunt, ipsam fuga consectetur tenetur dolore
                voluptate, dolorum blanditiis aperiam ratione qui impedit, iusto aliquam.</p>
            <h5 class="mb-4"><a href="#">Not a member yet?</a> Try it yourself</h5>
            <a href="#" class="btn btn-primary btn-block p-2">Let Get Started! It's free!</a>
        </div>
        <div class="col-md-8">

        </div>
    </div>

    <!-- What is Toodle -->
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-info">What is Toodle?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab suscipit natus similique nemo eos
                    tempore, autem debitis, vel praesentium officia ipsa laudantium voluptas, vitae tempora quis
                    placeat inventore earum quaerat labore qui dicta fuga reiciendis id. Excepturi tempore quisquam
                    laudantium, maiores fuga illo voluptates iure! Accusantium enim itaque perferendis repudiandae.</p>
                <a href="/about" class="btn btn-primary mt-2 p-2">Read More About Us</a>
            </div>
        </div>
    </div>
</div>